<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">MovieAPP</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarColor03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="movies" routerLinkActive="active"
          >Movies</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add/movie" routerLinkActive="active"
          >Add Movie</a
        >
      </li>
      <li class="nav-item" *ngIf="!username">
        <a class="nav-link" routerLink="register" routerLinkActive="active"
          >Register</a
        >
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->

    <div *ngIf="!username; else elseTemplate">
      <form
        #loginForm="ngForm"
        (ngSubmit)="logIn()"
        class="form-inline my-2 my-lg-0"
      >
        <input
          class="form-control mr-sm-2"
          [(ngModel)]="loginUser.username"
          required
          name="username"
          placeholder="username"
          type="text"
          [disabled]="logInProgress"
        />
        <input
          class="form-control mr-sm-2"
          [(ngModel)]="loginUser.password"
          required
          name="password"
          placeholder="password"
          type="password"
          [disabled]="logInProgress"
        />
        <button
          class="btn btn-secondary my-2 my-sm-0"
          type="submit"
          [disabled]="logInProgress"
        >
          Login
        </button>
      </form>
    </div>
    <ng-template #elseTemplate>
      <div class="mr-sm-2">" {{ username }} " &nbsp;</div>
      <button
        class="btn btn-secondary my-2 my-sm-0"
        (click)="logOut()"
        type="submit"
      >
        Log out
      </button>
    </ng-template>
  </div>
</nav>
