.container {
  display: flex;
  justify-content: center;
}
.addMovieContainer {
  margin-top: 20px;
  width: 300px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
