<div class="container">
  <div class="addMovieContainer">
    <div class="form-group">
      <label class="control-label">Title</label>
      <input
        type="text"
        class="form-control is-valid"
        id="inputValid"
        placeholder="enter title"
      />
    </div>
    <div class="form-group">
      <label class="control-label">Year</label>
      <input
        type="text"
        class="form-control is-valid"
        id="inputValid"
        placeholder="enter year"
      />
    </div>
    <div class="form-group">
      <label class="control-label">IMDB Score</label>
      <input
        type="text"
        class="form-control is-valid"
        id="inputValid"
        placeholder="enter score"
      />
    </div>
    <div class="form-group">
      <label class="control-label">Cover Url</label>
      <input
        type="text"
        class="form-control is-valid"
        id="inputValid"
        placeholder="enter url"
      />
    </div>

    <div class="form-group mt-4">
      <select class="custom-select">
        <option selected="">Select director</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</div>
