<div class="container text-center">
  <form
    [formGroup]="movieAddForm"
    class="addMovieContainer"
    (ngSubmit)="addMovie()"
  >
    <div class="form-group">
      <label class="control-label">Title</label>
      <input
        formControlName="title"
        [ngClass]="
          !movieAddForm.get('title').touched
            ? ''
            : movieAddForm.get('title').hasError('required') ||
              movieAddForm.get('title').hasError('minLength') ||
              movieAddForm.get('title').hasError('maxlength')
            ? 'is-invalid'
            : 'is-valid'
        "
        type="text"
        class="form-control"
        id="inputValid"
        placeholder="enter title"
      />
    </div>
    <div class="form-group">
      <label class="control-label">Year</label>
      <input
        formControlName="year"
        [ngClass]="
          !movieAddForm.get('year').touched
            ? ''
            : movieAddForm.get('year').hasError('required') ||
              movieAddForm.get('year').hasError('max') ||
              movieAddForm.get('year').hasError('min') ||
              movieAddForm.get('year').hasError('pattern')
            ? 'is-invalid'
            : 'is-valid'
        "
        class="form-control"
        type="number"
        id="inputValid"
        placeholder="enter year"
      />
    </div>
    <div class="form-group">
      <label class="control-label">IMDB Score</label>
      <input
        formControlName="imdb_score"
        [ngClass]="
          !movieAddForm.get('imdb_score').touched
            ? ''
            : movieAddForm.get('imdb_score').hasError('required') ||
              movieAddForm.get('imdb_score').hasError('max') ||
              movieAddForm.get('imdb_score').hasError('min') ||
              movieAddForm.get('imdb_score').hasError('pattern')
            ? 'is-invalid'
            : 'is-valid'
        "
        type="number"
        class="form-control"
        id="inputValid"
        placeholder="enter score"
      />
    </div>
    <div class="form-group">
      <label class="control-label">Cover Url</label>
      <input
        formControlName="cover"
        [ngClass]="
          !movieAddForm.get('cover').touched
            ? ''
            : movieAddForm.get('cover').hasError('required') ||
              movieAddForm.get('cover').hasError('pattern')
            ? 'is-invalid'
            : 'is-valid'
        "
        type="text"
        class="form-control"
        id="inputValid"
        placeholder="enter url"
      />
    </div>

    <div class="form-group mt-4">
      <select
        [ngClass]="
          !movieAddForm.get('director').touched
            ? ''
            : movieAddForm.get('director').hasError('required')
            ? 'is-invalid'
            : 'is-valid'
        "
        class="custom-select"
        formControlName="director"
      >
        <option value="" disabled selected>Select director</option>
        <option *ngFor="let director of directors" value="{{ director._id }}"
          >{{ director.name }} {{ director.surname }}</option
        >
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-lg mt-2"
      [disabled]="!movieAddForm.valid"
    >
      Add Movie
    </button>
  </form>
</div>
