<div class="container mt-5">
  <div class="row">
    <div *ngFor="let movie of movies" class="col-3 mb-5">
      <div class="card">
        <h3
          class="card-header text-center"
          style="height: 86px; justify-content: center;align-items: center; display: flex;"
        >
          {{ movie.title }}
        </h3>

        <img
          style="height: 200px; width: 100%; display: block;"
          src="{{ movie.cover }}"
          alt="Card image"
        />
        <div class="card-body text-center">
          <p class="card-text">
            Year : {{ movie.year }}<br />
            IMDB Score : {{ movie.imdb_score }}
          </p>
        </div>

        <div class="card-footer text-muted text-center">
          <a class="card-link">Edit</a>
          <a class="card-link">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
